/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
	font-family: 'Work Sans', sans-serif;
}

/* reset css*/
body {
	margin: 0;
}
button {
	border: 0;
	background-color: transparent;
}
button:focus {
	outline: 0;
}

/* general block styles */
.content{
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}
.block{
	display: flex;
	align-items: center;
	justify-content:center;
	
	margin-top: 130px;
}
/* end of general block styles */

/* general text styles */
h1{
	font-size: 4em;
}
h2{
	font-size: 2em;
}
/* end of general text styles */