@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general */

* {
	margin: 0;
	padding: 0;
}


/* reset css*/
button {
	border: 0;
	background-color: transparent;
}
button:focus {outline:0;}
html{
	height: 100%;
	margin: 0;
}	
body {
	color: #555B6E;
	background-color:#FAF9F9;
	height: 100%;
	width: 100%;
	font-weight: 100;
	margin: 0;
	
	overflow-y: scroll;
	overflow-x: hidden;
}
/* general block styles */
.content{
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}
.block{
	display: flex;
	align-items: center;
	justify-content:center;
	
	margin-top: 130px;
}
/* end of general block styles */
/* general text styles */
h1{
	font-family: Work Sans, Sans Serif;
	font-size: 5vw;
	letter-spacing: 5px;
	font-weight: 500;
}
h2{
	font-family: Work Sans, Sans Serif;
	font-size: 2vw;
	font-weight: 500;
}
p{
	font-family: Work Sans, Sans Serif;
	font-size: 1.25vw;
	font-weight: 400;
}
/* end of general text styles */